
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}
.title{
    text-align: center;
}

form{
   width: 500px;
   border: 1px solid gray;
   margin: 0px auto;
   padding: 20px;
   border-radius: 10px;
}

#tbl{
    width: 500px;
    border-collapse: collapse;
    margin: 0px auto;
}


td{
    border-bottom: 1px dotted gray;
    padding-top: 20px;
}

#tbl .row:hover{
    background-color: gray;
    color: white;
}

inputm select{
    padding: 5px 10px;
}